<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	  layout:decorate="~{layout/layoutPadrao}"
	  xmlns:siscomplemento="http://siscomplemento.decex.eb.mil.br"
	  xmlns:data="http://www.thymeleaf.org/extras/data"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Pesquisar alunos</title>	
</head>

<body>	
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisar alunos</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="decex-page-header-controls">
						<a class="btn btn-default" th:href="@{/complementos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo aluno</span>
						</a>
					</div>
				</div>
			</div>
		</div>	
	 </div>
	 
	 <div class="container-fluid">
		<form method="GET" th:object="${complementoFilter}">
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="control-label" for="cpf">CPF</label>					
					<input type="text" class="form-control js-cpf" id="cpf" autofocus="autofocus" th:field="*{cpf}"/>				
				</div>
			</div>			
				
			<button type="submit" class="btn btn-primary">Pesquisar</button><br>		
		</form>
		
		<div class="table-responsive sc-tabela-simples">
			<table class="table table-hover">
				<thead>
					<tr>
						
						<th class="table-complementos-col-idt">CPF</th>
						<th class="table-complementos-col-nome">							
							<siscomplemento:order page="${pagina}" field="nome" text="Nome" />
						</th>
						<th class="table-complementos-col-origemEscolar">Origem Escolar</th>
						<th class="table-complementos-col-colegioMiltar">Colégio Militar</th>
						<th class="table-complementos-col-origemCivilOuMilitar">Origem Civil ou Militar</th>
						<th class="table-complementos-col-situacaoNoCurso">Situação</th>
						<th class="text-right table-complementos-col-inseridoPor" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">Dados</th>
						<th class="text-left table-complementos-col-inseridoPor" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">inseridos por</th>
						
						<th class="table-complementos-col-acoes">Ações</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="complemento : ${pagina.conteudo}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">
						<td th:text="${complemento.cpf}">CPF</td>
						<td th:text="${complemento.nome}">Nome</td>
						<td th:text="${complemento.origemEscolar.descricao}">Origem Escolar</td>
						<td th:text="${complemento.colegioMiltar}">Colégio Militar</td>
						<td th:text="${complemento.origemCivilOuMilitar.descricao}">Origem Civil ou Militar</td>
						
						<td>
							<span th:each="situacao : ${complemento.situacoes}" th:text="|${situacao.nome}${situacaoStat.last ? '' : ', '}|"></span>
						</td>
						<td class="text-right" th:text="${complemento.inseridoPor.posto.descricao}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">Dados inseridos por</td>
						<td class="text-left" th:text="${complemento.inseridoPor.nomeGuerra}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">Dados inseridos por</td>
						
						<td class="text-center">
							<a class="btn btn-link btn-xs js-tooltip" title="Editar" th:href="@{/complementos/{codigo}(codigo=${complemento.codigo})}"  >
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn btn-link btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/complementos/{codigo}(codigo=${complemento.codigo})}"
									data:codigo="${complemento.codigo}" data:objeto="${complemento.nome}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					
					<tr th:if="${pagina.vazia}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">
						<td colspan="9" style="text-align: center; color: red;">Nenhum aluno encontrado</td>
					</tr>	
						
					<tr th:each="complemento : ${paginaOmUsuLogado.conteudo}" sec:authorize="hasRole('ROLE_USUARIO')">	
						<td th:text="${complemento.cpf}">CPF</td>
						<td th:text="${complemento.nome}">Nome</td>
						<td th:text="${complemento.origemEscolar.descricao}">Origem Escolar</td>
						<td th:text="${complemento.colegioMiltar}">Colégio Militar</td>
						<td th:text="${complemento.origemCivilOuMilitar.descricao}">Origem Civil ou Militar</td>						
						
						<td>
							<span th:each="situacao : ${complemento.situacoes}" th:text="|${situacao.nome}${situacaoStat.last ? '' : ', '}|"></span>
						</td>
						<td class="text-center">
							<a class="btn btn-link btn-xs js-tooltip" title="Editar" th:href="@{/complementos/{codigo}(codigo=${complemento.codigo})}"  >
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn btn-link btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#" 
									data:url="@{/complementos/{codigo}(codigo=${complemento.codigo})}"
									data:codigo="${complemento.codigo}" data:objeto="${complemento.nome}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					
					<tr th:if="${paginaOmUsuLogado.vazia}" sec:authorize="hasRole('ROLE_USUARIO')">
						<td colspan="9" style="text-align: center; color: red;">Nenhum aluno encontrado</td>
					</tr>						
				</tbody>				
			</table>
		</div>
						
			<siscomplemento:pagination page="${pagina}" sec:authorize="hasRole('ROLE_ADMINISTRACAO')"/>
		
			<siscomplemento:pagination page="${paginaOmUsuLogado}" sec:authorize="hasRole('ROLE_USUARIO')"/>
		
	</div>
	 			
</section>
<th:block layout:fragment="javascript-extra">
	
	<script th:src="@{/javascripts/multiselecao.js}"></script>
	<script th:src="@{/javascripts/siscomplemento.dialogo-excluir.js}"></script>
</th:block>
</body>
</html>