<!DOCTYPE html >
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"	  			
	  			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  			xmlns:th="http://www.thymeleaf.org"
	  			layout:decorate="~{layout/layoutPadrao}"
	  			xmlns:sisaluno="http://sisaluno.decex.eb.mil.br">
<head>
	<title>Cadastro de cursos</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/select2.min.css}"/>		
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	
<!-- 	<link rel="stylesheet" th:href="@{/stylesheets/sisaluno.css}"/>	 -->
</head>

<body>	 
 <!-- Aqui inicia a configuração do conteúdo do nosso formulário -->
 <section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${curso.novo}">Cadastrar curso</h1>
					<h1 th:unless="${curso.novo}">Edição de curso -  [[${curso.sku}]]</h1>
				</div>			
				<div class="col-xs-2">
					<div class="decex-page-header-controls">
					
						<a class="btn  btn-default" th:href="@{/cursos}">
							<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">		
		
		<form method="POST" th:object="${curso}" class="form-vertical  js-form-loading" autocomplete="off" 
				th:action="${curso.novo} ? @{/cursos/novo} : @{/cursos/{codigo}(codigo=${curso.codigo})}">
		
			<sisaluno:message/>
			
			
			<input  type="hidden" th:field="*{codigo}">
			
			<!--############################## Inicio da primeira linha  maxlength="11" ###################################### -->
			<div class="row">
				<div class="col-sm-3 form-group sc-required" sisaluno:classforerror="sku">					
					<label for="sku" class="control-label">Código do curso</label>
					<input id="sku" type="text" class="form-control js-sku" th:field="*{sku}"/>					
				</div>
				
				<!-- #OCULTA# -->
				<!--Select para alunos a sargentos informarem a área do seu cursos -->
				<div class="col-sm-3 form-group">
					<label for="modalidade" class="control-label">Modalidade</label>
					<select id="cfgsCurso" class="form-control" th:field="*{modalidade}" onchange="verificaEspSgt(this.value)">
	                    <option value="">Selecione a arma</option>
	                    <option th:each="modalidade : ${modalidades}" th:value="${modalidade.descricao}" th:text="${modalidade.descricao}">FORMACAO</option>
	                </select>
				</div>
				
				<!--Select para alunos a oficiais informarem se seu curso é apenas formação ou também graduação -->
				<div class="col-sm-3 form-group sc-required" sisaluno:classforerror="universo">
					<label for="universo" class="control-label">Universo</label>
					<select id="universo" class="form-control" th:field="*{universo}" onchange="verificaFormac(this.value)">
	                    <option value="">Selecione o universo</option>
	                    <option th:each="universo : ${universos}" th:value="${universo.descricao}" th:text="${universo.descricao}">FORM_GRAD_OF</option>
	                </select>
				</div>
				
				
				
				<!-- #OCULTA# -->
				<!--Select para áreas no cursos de Material Bélico -->				
				<div class="col-sm-3 form-group sc-required">
					<label for="linha" class="control-label">Linha</label>
					<select id="linha" class="form-control" th:field="*{linha}">
	                    <option value="">Selecione a linha</option>
	                    <option th:each="linha : ${linhas}" th:value="${linha.descricao}" th:text="${linha.descricao}">BELICA</option>
	                </select>
				</div>
				
				
			</div>		
			<!--############################## Final da quarta linha ###################################### -->				
			<div class="row">
				<div class="form-group  col-sm-12">
					<input type="hidden" th:field="*{foto}">
					<input type="hidden" th:field="*{contentType}">
					<input type="hidden" th:field="*{novaFoto}">
				
					<label class="control-label">Foto</label>
					
					<div class="js-container-foto-usuario" th:attr="data-url-fotos=@{/fotos}">
					

						<div id="upload-drop" class="sc-upload">
							<i class="glyphicon  glyphicon-cloud-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="sc-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
						</div>
					</div>
						
				</div>
			</div>						
			
			<br>													
		<div class="row">	
						
			<div class="col-sm-3 form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>					
			</div>
		</div>

		</form>
	</div>
	<th:block th:replace="hbs/FotoUsuario"></th:block>
</section>
	<!-- E aqui finaliza a configuração do conteúdo do nosso formulário -->
	
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>	
	<script th:src="@{/layout/javascripts/pais.js}"></script>
	<script th:src="@{/layout/javascripts/colegio.js}"></script>
	<script th:src="@{/layout/javascripts/formacao.js}"></script>
	<script th:src="@{/layout/javascripts/EspecialidadeSgt.js}"></script>
	<script th:src="@{/layout/javascripts/EspecialidadeOF.js}"></script>	
		
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>	
	<script th:src="@{/javascripts/usuario.upload-foto.js}"></script>
			
	<script>
		$('.js-status').bootstrapSwitch();
	</script>

</th:block>
	
</body>
</html>