<!DOCTYPE html >
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"	  			
	  			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  			xmlns:th="http://www.thymeleaf.org"
	  			layout:decorate="~{layout/layoutPadrao}"
	  			xmlns:sisaluno="http://sisaluno.decex.eb.mil.br">
<head>
	<title>Cadastro de cursos</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/select2.min.css}"/>		
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	
<!-- 	<link rel="stylesheet" th:href="@{/stylesheets/sisaluno.css}"/>	 -->
</head>

<body>	 
 <!-- Aqui inicia a configuração do conteúdo do nosso formulário -->
 <section layout:fragment="conteudo">


	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${curso.novo}">Cadastrar curso</h1>
					<h1 th:unless="${curso.novo}">Edição de curso -  [[${curso.sku}]]</h1>
				</div>			
				<div class="col-xs-2">
					<div class="decex-page-header-controls">
					
						<a class="btn  btn-default" th:href="@{/cursos}">
							<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">		
		
		<form method="POST" th:object="${curso}" class="form-vertical  js-form-loading" autocomplete="off" 
				th:action="${curso.novo} ? @{/cursos/novo} : @{/cursos/{codigo}(codigo=${curso.codigo})}">
		
			<sisaluno:message/>
			
			
			<input  type="hidden" th:field="*{codigo}">
			
			<!--############################## Inicio da primeira linha  maxlength="11" ###################################### -->
			<div class="row">
				<div class="col-sm-3 form-group sc-required" sisaluno:classforerror="sku">					
					<label for="sku" class="control-label">Código do curso</label>
					<input id="sku" type="text" class="form-control js-sku" th:field="*{sku}"/>					
				</div>
				
				<!--Select para alunos a oficiais informarem se seu curso é apenas formação ou também graduação -->
				<div class="col-sm-3 form-group sc-required" sisaluno:classforerror="universo">
					<label for="universo" class="control-label">Categoria</label>
					<select id="universo" class="form-control" th:field="*{universo}" onchange="verificaFormac(this.value)">
	                    <option value="">Selecione a categoria</option>
	                    <option th:each="universo : ${universos}" th:value="${universo}" th:text="${universo.descricao}">FORM_GRAD_OF</option>
	                </select>
				</div>
				
				<!-- #OCULTA# -->
				<!--Select para alunos a sargentos informarem a área do seu cursos -->
				<div class="col-sm-3 form-group" hidden="true" id="divAREASGT" >
					<label for="cfgsCurso" class="control-label">Arma</label>
					<select id="cfgsCurso" class="form-control" th:field="*{cfgsCurso}" onchange="verificaEspSgt(this.value)">
	                    <option value="">Selecione a arma</option>
	                    <option th:each="cfgsCurso : ${cfgsCursos}" th:value="${cfgsCurso}" th:text="${cfgsCurso.descricao}">ARTILHARIA</option>
	                </select>
				</div>
				
				<!-- #OCULTA# -->
				<!--Select para áreas no cursos de Material Bélico -->				
				<div class="col-sm-3 form-group sc-required" hidden="true" id="divMATBEL">
					<label for="matBelcurso" class="control-label">MatBel de</label>
					<select id="matBelcurso" class="form-control" th:field="*{matbelCurso}">
	                    <option value="">Selecione o curso MatBel matriculado</option>
	                    <option th:each="matBelcurso : ${matBelcursos}" th:value="${matBelcurso}" th:text="${matBelcurso.descricao}">FORM_GRAD_PRACA</option>
	                </select>
				</div>
				
				<!-- #OCULTA# -->
				<!--Select para alunos a sargentos informarem a Unidade Escolar Tecnológica do Exército -->											
				<div class="col-sm-3 form-group sc-required" hidden="true" id="divUETE">
					<label for="uete" class="control-label">UETE</label>
					<select id="uete" class="form-control" th:field="*{uete}">
	                    <option value="">Selecione a Unidade Escolar Tecnológica do Exército</option>
	                    <option th:each="uete : ${uetes}" th:value="${uete.codigo}" th:text="${uete.sigla}">20º RCB</option>
	                </select>
				</div>
				
				<!-- #OCULTA# -->											
				<!--Select para alunos a oficiais informarem a área do seu cursos -->
				<div class="col-sm-3 form-group sc-required" hidden="true" id="divAREAOF">
					<label for="oficiaisCurso" class="control-label">Área</label>
					<select id="oficiaisCurso" class="form-control" th:field="*{oficiaisCurso}" onchange="verificaEspOF(this.value)">
	                    <option value="">Selecione a área</option>
	                    <option th:each="oficiaisCurso : ${oficiaisCursos}" th:value="${oficiaisCurso}" th:text="${oficiaisCurso.descricao}">FORM_GRAD_PRACA</option>
	                </select>
				</div>
				
				
				<!-- #OCULTA# -->
				<!--Select para os cursos de Formação e Graduação de Oficiais -->
				<div class="col-sm-3 form-group sc-required" hidden="true" id="divCFGO">
					<label for="cfgoCurso" class="control-label">Arma</label>
					<select id="cfgoCurso" class="form-control" th:field="*{cfgoCurso}">
	                    <option value="">Selecione a arma</option>
	                    <option th:each="cfgoCurso : ${cfgoCursos}" th:value="${cfgoCurso}" th:text="${cfgoCurso.descricao}">ARTILHARIA</option>
	                </select>
				</div>
			
				
				<!-- #OCULTA# -->
				<!--Select para informar o NPOR aonde o aluno está cursando-->
				<div class="col-sm-3 form-group" hidden="true" id="divNPOR" siscomplemento:classforerror="npor">
					<label for="npor" class="control-label">NPOR</label>					
					<select id="npor" class="form-control" th:field="*{npor}">
	                    <option value="">Selecione o NPOR</option>
	                    <option th:each="npor : ${OficiaisReserva}" th:value="${npor.codigo}" th:text="${npor.sigla}">28º BI</option>
	                </select>	                
				</div>		
				
				<!-- #OCULTA# -->
				<!--Select para especialidades nos cursos do CPOR -->
				<div class="col-sm-3 form-group" hidden="true" id="divCPOR">
					<label for="cporCurso" class="control-label">Área do curso de graduação</label>
					<select id="cporCurso" class="form-control" th:field="*{cporCurso}">
	                    <option value="">Selecione a área do curso que está realizando</option>
	                    <option th:each="cporCurso : ${cporCursos}" th:value="${cporCurso}" th:text="${cporCurso.descricao}">C_EXAT_TERRA</option>
	                </select>
				</div>
								
				<!-- #OCULTA# -->				
				<!--Select para especialidades nos cursos de Médico -->
				<div class="col-sm-3 form-group sc-required" hidden="true" id="divMEDICO">
					<label for="medicoCurso" class="control-label">Especialidade</label>
					<select id="medicoCurso" class="form-control" th:field="*{medicoCurso}">
	                    <option value="">Selecione a especialidade</option>
	                    <option th:each="medicoCurso : ${medicoCursos}" th:value="${medicoCurso}" th:text="${medicoCurso.descricao}">CARDIOLOGIA</option>
	                </select>
				</div>
								
				<!-- #OCULTA# -->
				<!--Select para especialidades nos cursos de QCO -->
				<div class="col-sm-3 form-group sc-required" hidden="true" id="divQCO">
					<label for="qcoCurso" class="control-label">Especialidade</label>
					<select id="qcoCurso" class="form-control" th:field="*{qcoCurso}">
	                    <option value="">Selecione a especialidade</option>
	                    <option th:each="qcoCurso : ${qcoCursos}" th:value="${qcoCurso}" th:text="${qcoCurso.descricao}">ADMINISTRAÇÃO</option>
	                </select>
				</div>
				
				<!-- #OCULTA# -->
				<!--Select para especialidades nos cursos de ODONTOLOGIA -->
				<div class="col-sm-3 form-group sc-required" hidden="true" id="divODONTO">
					<label for="odontoCurso" class="control-label">Especialidade</label>
					<select id="odontoCurso" class="form-control" th:field="*{odontoCurso}">
	                    <option value="">Selecione a especialidade</option>
	                    <option th:each="odontoCurso : ${odontoCursos}" th:value="${odontoCurso}" th:text="${odontoCurso.descricao}">ENDO</option>
	                </select>
				</div>
											
			</div>
			<!--############################## Fim da primeira linha  maxlength="11" ###################################### -->
			
			<!--############################## Inicio da segunda linha  maxlength="11" ###################################### -->
			<div class="row">				
				
						
																
			</div>
			<!--############################## Final da segunda linha ###################################### -->
			
			
			<!--############################## Inicio da tereceira linha ###################################### -->	
			<div class="row">								
				
							
			</div>
			<!--############################## Final da terceira linha ###################################### -->
			
			<!--############################## Inicio da quarta linha ###################################### -->
			<div class="row">			
								
				
					
<!-- 					<div hidden="true"> -->
<!-- 						<select id="inseridoPor" class="form-control" th:field="*{inseridoPor}">											 -->
<!-- 							<option th:value="${#authentication.principal.usuario.om.codigo}">2º Sgt - Vanilton</option> -->
<!-- 						</select> -->
<!-- 					</div> -->
										
			</div>		
			<!--############################## Final da quarta linha ###################################### -->				
			<div class="row">
				<div class="form-group  col-sm-12">
					<input type="hidden" th:field="*{foto}">
					<input type="hidden" th:field="*{contentType}">
					<input type="hidden" th:field="*{novaFoto}">
				
					<label class="control-label">Foto</label>
					
					<div class="js-container-foto-usuario" th:attr="data-url-fotos=@{/fotos}">
					

						<div id="upload-drop" class="sc-upload">
							<i class="glyphicon  glyphicon-cloud-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="sc-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
						</div>
					</div>
						
				</div>
			</div>						
			
			<br>													
		<div class="row">	
						
			<div class="col-sm-3 form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>					
			</div>
		</div>

		</form>
	</div>
	<th:block th:replace="hbs/FotoUsuario"></th:block>
</section>
	<!-- E aqui finaliza a configuração do conteúdo do nosso formulário -->
	
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>	
	<script th:src="@{/layout/javascripts/pais.js}"></script>
	<script th:src="@{/layout/javascripts/colegio.js}"></script>
	<script th:src="@{/layout/javascripts/formacao.js}"></script>
	<script th:src="@{/layout/javascripts/EspecialidadeSgt.js}"></script>
	<script th:src="@{/layout/javascripts/EspecialidadeOF.js}"></script>	
		
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>	
	<script th:src="@{/javascripts/usuario.upload-foto.js}"></script>
			
	<script>
		$('.js-status').bootstrapSwitch();
	</script>

</th:block>
	
</body>
</html>